Package: termux-shizuku-tools
Version: 4.0
X-Version-Code: 5
Architecture: all
Maintainer: AlexeiCrystal
Description: Shizuku management utilities for Termux
Depends: bash, coreutils
Section: utils
Priority: optional
Homepage: https://github.com/AlexeiCrystal/termux-shizuku-tools
