termux-shizuku-tools/DEBIAN/postinst linguist-language=Shell
termux-shizuku-tools/DEBIAN/postrm linguist-language=Shell
termux-shizuku-tools/data/data/com.termux/files/usr/bin/* linguist-language=Shell
termux-shizuku-tools/data/data/com.termux/files/usr/shizuku/rish linguist-language=Shell
